@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f4f4f4;
    color: #0c0c0c;
}

.form_box{
    display: none;
    width: 100%;
    max-width: 400px;
    padding: 30px;
    margin: 20px 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

.active{
    display: block;
}

.error{
    color: #f45555;
}

h2{
    font-size: 30px;
    margin-bottom: 20px;
}

.form_box input{
    width: 100%;
    padding: 12px;
    background: #ccd2d4;
    font-size: 16px;
    cursor: pointer;
    border: none;
    outline: none;
    border-bottom: 1px  solid rgba(34, 34, 34, 0);
    margin-bottom: 20px;
    transition: all 0.2s ease-in;
}

.form_box input:hover{
    border-bottom: 1px  solid rgb(34, 34, 34);
    background: #ffffff;
}

.form_box input:focus{
    border-bottom: 1px  solid rgb(34, 34, 34);
    background: #ffffff;
}

.form_box button{
    width: 100%;
    background: #c28638;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 12px;
    margin-bottom: 20px;
    transition: 0.2s;
}

.form_box button:hover{
    background: #ffc863;
}

