@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.solar--eraser-bold {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #4d4e50;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11.41 5.505C13.08 3.835 13.915 3 14.952 3c1.038 0 1.873.835 3.543 2.505S21 8.01 21 9.048c0 1.037-.835 1.872-2.505 3.542l-4.193 4.194l-7.086-7.086z'/%3E%3Cpath fill='%231e1e1e' d='m6.156 10.759l7.085 7.085l-.65.65c-.378.379-.713.714-1.018 1.006H21a.75.75 0 0 1 0 1.5H9c-1.016-.025-1.85-.86-3.495-2.505C3.835 16.825 3 15.99 3 14.952c0-1.037.835-1.872 2.505-3.542z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M11.41 5.505C13.08 3.835 13.915 3 14.952 3c1.038 0 1.873.835 3.543 2.505S21 8.01 21 9.048c0 1.037-.835 1.872-2.505 3.542l-4.193 4.194l-7.086-7.086z'/%3E%3Cpath fill='%231e1e1e' d='m6.156 10.759l7.085 7.085l-.65.65c-.378.379-.713.714-1.018 1.006H21a.75.75 0 0 1 0 1.5H9c-1.016-.025-1.85-.86-3.495-2.505C3.835 16.825 3 15.99 3 14.952c0-1.037.835-1.872 2.505-3.542z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.solar--eraser-bold:hover{
    background-color: rgb(223, 56, 56);
}

.basil--cancel-outline {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #7a1212;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M8.47 8.47a.75.75 0 0 1 1.06 0L12 10.94l2.47-2.47a.75.75 0 1 1 1.06 1.06L13.06 12l2.47 2.47a.75.75 0 0 1-1.06 1.06L12 13.06l-2.47 2.47a.75.75 0 1 1-1.06-1.06L10.94 12L8.47 9.53a.75.75 0 0 1 0-1.06'/%3E%3Cpath fill='%231e1e1e' fill-rule='evenodd' d='M7.317 3.769a42.5 42.5 0 0 1 9.366 0c1.827.204 3.302 1.643 3.516 3.48c.37 3.157.37 6.346 0 9.503c-.215 1.837-1.69 3.275-3.516 3.48a42.5 42.5 0 0 1-9.366 0c-1.827-.205-3.302-1.643-3.516-3.48a41 41 0 0 1 0-9.503c.214-1.837 1.69-3.276 3.516-3.48m9.2 1.49a41 41 0 0 0-9.034 0A2.486 2.486 0 0 0 5.29 7.424a39.4 39.4 0 0 0 0 9.154a2.486 2.486 0 0 0 2.193 2.164c2.977.332 6.057.332 9.034 0a2.486 2.486 0 0 0 2.192-2.164a39.4 39.4 0 0 0 0-9.154a2.486 2.486 0 0 0-2.192-2.163' clip-rule='evenodd'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M8.47 8.47a.75.75 0 0 1 1.06 0L12 10.94l2.47-2.47a.75.75 0 1 1 1.06 1.06L13.06 12l2.47 2.47a.75.75 0 0 1-1.06 1.06L12 13.06l-2.47 2.47a.75.75 0 1 1-1.06-1.06L10.94 12L8.47 9.53a.75.75 0 0 1 0-1.06'/%3E%3Cpath fill='%231e1e1e' fill-rule='evenodd' d='M7.317 3.769a42.5 42.5 0 0 1 9.366 0c1.827.204 3.302 1.643 3.516 3.48c.37 3.157.37 6.346 0 9.503c-.215 1.837-1.69 3.275-3.516 3.48a42.5 42.5 0 0 1-9.366 0c-1.827-.205-3.302-1.643-3.516-3.48a41 41 0 0 1 0-9.503c.214-1.837 1.69-3.276 3.516-3.48m9.2 1.49a41 41 0 0 0-9.034 0A2.486 2.486 0 0 0 5.29 7.424a39.4 39.4 0 0 0 0 9.154a2.486 2.486 0 0 0 2.193 2.164c2.977.332 6.057.332 9.034 0a2.486 2.486 0 0 0 2.192-2.164a39.4 39.4 0 0 0 0-9.154a2.486 2.486 0 0 0-2.192-2.163' clip-rule='evenodd'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.svg--add {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #f4f4f4;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12m10-8a8 8 0 1 0 0 16a8 8 0 0 0 0-16'/%3E%3Cpath d='M13 7a1 1 0 1 0-2 0v4H7a1 1 0 1 0 0 2h4v4a1 1 0 1 0 2 0v-4h4a1 1 0 1 0 0-2h-4z'/%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill-rule='evenodd' clip-rule='evenodd'%3E%3Cpath d='M2 12C2 6.477 6.477 2 12 2s10 4.477 10 10s-4.477 10-10 10S2 17.523 2 12m10-8a8 8 0 1 0 0 16a8 8 0 0 0 0-16'/%3E%3Cpath d='M13 7a1 1 0 1 0-2 0v4H7a1 1 0 1 0 0 2h4v4a1 1 0 1 0 2 0v-4h4a1 1 0 1 0 0-2h-4z'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.svg--logout {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #f4f4f4;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M5 21q-.825 0-1.412-.587T3 19V5q0-.825.588-1.412T5 3h7v2H5v14h7v2zm11-4l-1.375-1.45l2.55-2.55H9v-2h8.175l-2.55-2.55L16 7l5 5z'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.svg--settings {
  display: inline-block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #f4f4f4;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.14 12.94c.04-.3.06-.61.06-.94c0-.32-.02-.64-.07-.94l2.03-1.58a.49.49 0 0 0 .12-.61l-1.92-3.32a.49.49 0 0 0-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54a.484.484 0 0 0-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22L2.74 8.87c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58a.49.49 0 0 0-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6s3.6 1.62 3.6 3.6s-1.62 3.6-3.6 3.6'/%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M19.14 12.94c.04-.3.06-.61.06-.94c0-.32-.02-.64-.07-.94l2.03-1.58a.49.49 0 0 0 .12-.61l-1.92-3.32a.49.49 0 0 0-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54a.484.484 0 0 0-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22L2.74 8.87c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58a.49.49 0 0 0-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6s3.6 1.62 3.6 3.6s-1.62 3.6-3.6 3.6'/%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

.svg--brush {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: #f4f4f4;
  -webkit-mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M10.5 2.5L7 6l11 11l3.5-3.5L18 10l3-3l-4-4l-3 3z'/%3E%3Cpath d='m1.5 11.5l11 11L18 17L7 6z'/%3E%3Cpath stroke='%231e1e1e' stroke-linecap='square' stroke-width='2' d='m7 6l11 11M7 6l-5.5 5.5l11 11L18 17M7 6l3.5-3.5L14 6l3-3l4 4l-3 3l3.5 3.5L18 17'/%3E%3C/g%3E%3C/svg%3E");
  mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none'%3E%3Cpath d='M10.5 2.5L7 6l11 11l3.5-3.5L18 10l3-3l-4-4l-3 3z'/%3E%3Cpath d='m1.5 11.5l11 11L18 17L7 6z'/%3E%3Cpath stroke='%231e1e1e' stroke-linecap='square' stroke-width='2' d='m7 6l11 11M7 6l-5.5 5.5l11 11L18 17M7 6l3.5-3.5L14 6l3-3l4 4l-3 3l3.5 3.5L18 17'/%3E%3C/g%3E%3C/svg%3E");
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
}

/*All CSS class goes here VVV*/


:root{
    --theme-primary-color: #4582a8;
    --theme-secondary-color: #2a52c0;

    --paw-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1240 1240'%3E%3Cpath fill='%230f0f0f' d='M442.8 361.82c-8.8-25.1-29.31-37.82-49.11-50.12c-17.23-10.71-33.5-20.83-44.14-39c-29.33-50.33-45.44-80.7-93.49-80.7s-64.21 30.38-93.61 80.69c-10.65 18.21-27 28.35-44.25 39.08c-19.8 12.31-40.27 25-49.1 50.05a78.1 78.1 0 0 0-5.1 28.29C64 430.85 96.45 464 132.4 464s83.31-18.13 123.76-18.13S343.31 464 379.71 464S448 430.85 448 390.11a78.3 78.3 0 0 0-5.2-28.29'/%3E%3Cellipse cx='72' cy='216' fill='%230f0f0f' rx='56' ry='72'/%3E%3Cellipse cx='184' cy='120' fill='%230f0f0f' rx='56' ry='72'/%3E%3Cellipse cx='328' cy='120' fill='%230f0f0f' rx='56' ry='72'/%3E%3Cellipse cx='440' cy='216' fill='%230f0f0f' rx='56' ry='72'/%3E%3C/svg%3E");
    --flower-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1240 1240'%3E%3Ccircle cx='256' cy='256' r='43' fill='%230f0f0f'/%3E%3Cpath fill='%230f0f0f' d='M475.93 303.91a67.49 67.49 0 0 0-47.62-115.6c-2.88 0-6.2.14-9.93.43c2.75-2.36 5.23-4.62 7.33-6.71A67.83 67.83 0 0 0 378 66.33h-.25a67.27 67.27 0 0 0-47.82 20c-2.11 2.11-4.37 4.59-6.72 7.33c.29-3.75.44-7.07.44-9.93a67.69 67.69 0 1 0-135.38 0c0 2.87.15 6.19.44 9.93c-2.36-2.74-4.62-5.22-6.72-7.33a67.27 67.27 0 0 0-47.82-20H134A67.9 67.9 0 0 0 86.29 182c2.1 2.09 4.58 4.35 7.34 6.72c-3.74-.29-7.06-.44-9.94-.44a67.69 67.69 0 0 0 0 135.38c2.86 0 6.18-.15 9.93-.44c-2.74 2.35-5.22 4.61-7.33 6.72a67.55 67.55 0 0 0 47.82 115.42h.25A67.32 67.32 0 0 0 182 425.71c2.09-2.1 4.35-4.58 6.71-7.33c-.28 3.73-.43 7.05-.43 9.93a67.69 67.69 0 0 0 135.38 0c0-2.87-.15-6.19-.44-9.94c2.36 2.75 4.62 5.24 6.72 7.34a67.32 67.32 0 0 0 47.67 19.68h.25A67.5 67.5 0 0 0 425.71 330c-2.11-2.11-4.59-4.37-7.33-6.72c3.75.29 7.07.44 9.93.44a67.27 67.27 0 0 0 47.62-19.81M256 341a85 85 0 1 1 85-85a85.1 85.1 0 0 1-85 85'/%3E%3C/svg%3E");
    --clover-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cpath d='m12.594 23.258l-.012.002l-.071.035l-.02.004l-.014-.004l-.071-.036q-.016-.004-.024.006l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427q-.004-.016-.016-.018m.264-.113l-.014.002l-.184.093l-.01.01l-.003.011l.018.43l.005.012l.008.008l.201.092q.019.005.029-.008l.004-.014l-.034-.614q-.005-.019-.02-.022m-.715.002a.02.02 0 0 0-.027.006l-.006.014l-.034.614q.001.018.017.024l.015-.002l.201-.093l.01-.008l.003-.011l.018-.43l-.003-.012l-.01-.01z'/%3E%3Cpath fill='%230f0f0f' d='M9 5.121C9 4.502 9.502 4 10.121 4c.436 0 .84.077 1.156.408a1 1 0 0 0 1.446 0c.316-.331.72-.408 1.156-.408a1.121 1.121 0 0 1 .793 1.914L12 8.586L9.328 5.914A1.12 1.12 0 0 1 9 5.121M10.121 2a3.121 3.121 0 0 0-2.207 5.328l3.379 3.38a1 1 0 0 0 1.414 0l3.379-3.38A3.122 3.122 0 0 0 13.879 2c-.664 0-1.298.113-1.879.454c-.58-.34-1.215-.454-1.879-.454m8.758 7C19.498 9 20 9.502 20 10.121c0 .436-.077.84-.408 1.156a1 1 0 0 0 0 1.446c.331.316.408.72.408 1.156a1.121 1.121 0 0 1-1.914.793L15.414 12l2.672-2.672c.21-.21.495-.328.793-.328M22 10.121a3.121 3.121 0 0 0-5.328-2.207l-3.38 3.379a1 1 0 0 0 0 1.414l3.38 3.379A3.121 3.121 0 0 0 22 13.879c0-.664-.113-1.298-.454-1.879c.34-.58.454-1.215.454-1.879M13.879 20a1.121 1.121 0 0 0 .793-1.914L12 15.414l-2.672 2.672A1.121 1.121 0 0 0 10.121 20c.436 0 .84-.077 1.156-.408a1 1 0 0 1 1.446 0c.316.331.72.408 1.156.408M17 18.879A3.12 3.12 0 0 1 13.879 22c-.664 0-1.298-.113-1.879-.454c-.58.34-1.215.454-1.879.454a3.121 3.121 0 0 1-2.207-5.328l3.379-3.38a1 1 0 0 1 1.414 0l3.379 3.38c.585.585.914 1.379.914 2.207M5.121 15A1.12 1.12 0 0 1 4 13.879c0-.436.077-.84.408-1.156a1 1 0 0 0 0-1.446c-.331-.316-.408-.72-.408-1.156a1.121 1.121 0 0 1 1.914-.793L8.586 12l-2.672 2.672a1.12 1.12 0 0 1-.793.328M2 13.879a3.121 3.121 0 0 0 5.328 2.207l3.38-3.379a1 1 0 0 0 0-1.414l-3.38-3.379A3.121 3.121 0 0 0 2 10.121c0 .664.113 1.298.454 1.879c-.34.58-.454 1.215-.454 1.879'/%3E%3C/g%3E%3C/svg%3E");
    --tree-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1140 1140'%3E%3Cpath fill='%230f0f0f' d='M210.6 5.9L62 169.4c-3.9 4.2-6 9.8-6 15.5c0 12.8 10.3 23.1 23.1 23.1H104l-73.4 73.4c-4.2 4.2-6.6 10-6.6 16c0 12.5 10.1 22.6 22.6 22.6H80L5.4 409.5c-3.5 4.2-5.4 9.5-5.4 15c0 13 10.5 23.5 23.5 23.5H192v32c0 17.7 14.3 32 32 32s32-14.3 32-32v-32h168.5c13 0 23.5-10.5 23.5-23.5c0-5.5-1.9-10.8-5.4-15L368 320h33.4c12.5 0 22.6-10.1 22.6-22.6c0-6-2.4-11.8-6.6-16L344 208h24.9c12.7 0 23.1-10.3 23.1-23.1c0-5.7-2.1-11.3-6-15.5L237.4 5.9C234 2.1 229.1 0 224 0s-10 2.1-13.4 5.9'/%3E%3C/svg%3E");
    --cloud-svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath fill='%230f0f0f' d='M16 10.274a2.726 2.726 0 0 0-2.078-2.648A3.72 3.72 0 0 0 10.205 4a3.71 3.71 0 0 0-2.92 1.418a2.09 2.09 0 0 0-3.719 1.573a3.028 3.028 0 0 0-3.567 2.98A3.03 3.03 0 0 0 3.026 13H13.28a2.725 2.725 0 0 0 2.719-2.726z'/%3E%3C/svg%3E");

}

*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--theme-primary-color);
}

h2{
    font-size: 28px;
}

.btn{
    font-size: 14px;
    color: #f4f4f4;
    background-color: #f4f4f4;
}

.btn:hover{
    background-color: var(--theme-secondary-color);
}

.main{
    width: 100%;
    height: 100%;
    max-width: 1200px;
    font-size: 18px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: start;
    position: relative;
    padding: 30px;
    gap: 30px;
    color: #0c0c0c;
}

.bg-pattern {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: var(--paw-svg), linear-gradient(var(--theme-primary-color), var(--theme-primary-color));
    background-repeat: repeat;
    background-size: 10%;
    background-position: 40px 40px;
    background-blend-mode:color-burn;
    opacity: 0.1;
    z-index: -1;
}



#user_interface{
    background-color: #33333327;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    border-radius: 20px;
    padding: 0 15px;
    transition: all 0.2s ease-in;
}

#user_interface:nth-child(3){
    display:none;
}

#user_interface:hover{
    background-color: #3333335d; 
}

#user_interface *{
    margin-bottom: 20px;
}

#user_interface button{
    width: 40px;
    height: 40px;
    font-size: 14px;
    padding: 5px;
    border: none;
    border-radius: 15px;
}


textarea{
    font-size: 16;
    width: 100%;
    height: 150px;
    border: none;
    resize: none;
}

textarea:focus, textarea:active{
    border: none;
    outline: none;
}

#user_diary{
    width: 100%;
    height: auto;
    min-height: 120vh;
    background: #fcfcfc;
    position: relative;
    border: 1px solid #252525;
    padding: 40px;
    border-radius: 30px;
}

#user_diary h2{
    display: flex;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.8px;
    align-items: center;
}

#user_header{
    background-color: #33333327;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 10px 30px;
    border-radius: 15px;
    margin-bottom: 50px;
    gap: 25px;
}

#user_header div{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 30px;
}

#user_header h2{
    font-weight: 600;
}

#user_header .user_name{
    color: var(--theme-secondary-color);
}

#user_header p{
    font-size: 20px;
}

#default_user_picture{
    width: 70px;
    height: auto;
    border-radius: 50%;
    margin-bottom: none;
    margin-right: 20px;
}

.diary_add {
    display: none;
    width: 100%;
    min-height: 200px;
    max-height: 600px;
    position: relative;
    margin-top: 30px;
    border: 1px solid #252525;
    padding: 30px;
}

.open-window{
    display: flex;
    flex-direction: column;
}

.diary_btn{
    font-size: 14px;
    border: none;
    outline: none;
    position:absolute;
}

.diary_post{
    background-color: #54575a;
    color: #f4f4f4;
    width: 150px;
    bottom: 10px;
    right: 45px;
    padding: 3px;
    border-radius: 10px;
}

.diary_post:hover{
    background-color: #6c6a6e;
}

.diary_cancel{
    width: 30px;
    height: 30px;
    bottom: 8px;
    right: 10px;
}

.diary_cancel:hover{
    background-color: rgb(223, 56, 56);
}

#diaries{
    width: 100%;
    height: auto;
    min-height: 110vh;
    margin: 30px 0px;
}

.diary_item{
    width: 100%;
    height: auto;
    background: #fff;
    padding: 30px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 10px #1515156c;
}

.diary_item_header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin: 10px 0px; 
}

.diary_item h3{
    font-size: 18px;
    font-weight: 400;
}

.diary_item p{
    color: #858585;
    font-size: 16px;
}

.diary_item p span{
    white-space: wrap;
    color: #0c0c0c;
}

.diary_item .line{
    border-bottom: 1px solid #252525;
    margin: 20px 0px;
}

#delete_diary_btn{
    width: 20px;
    height: 20px;
    border: none;
    outline: none;
}

#set_page {
    width: 100%;
    text-align: center;
    color: var(--theme-secondary-color);
    font-size: 16px;
    user-select: none;
    white-space: wrap;
}

#set_page a{
    text-decoration: underline;
    margin: 0px 10px;
}

#set_page a:hover {
    cursor: pointer;
}

.error_message{
    font-size: 16px;
    font-weight: 400;
    color: #df3838;
    border: 1px solid #0c0c0c;
    border-radius: 15px;
    padding: 3px;
    padding: 3px 10px;
    margin-left: 30px;
}

@media screen and (max-width: 760px){
    .main{
        width: 100%;
        max-width: 100vw;
        display: block;
    }

    .bg-pattern{
        background-size: 30%;
        background-position: 0px 0px;
    }

    #user_interface{
        width: 100%;
        height: 80px;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 0 0px;
        margin: 20px 0px;
    }

    #user_interface:nth-child(2){
        display: none;
    }

    #user_interface:nth-child(3){
        display: flex;
    }

    #user_interface *{
        width: 100%;
        flex: 1;
        margin-bottom: 0px;
    }


    #user_diary{
        width: 100%;
        padding: 30px;
    }

    #user_header{
        margin-top: 20px;
        margin-bottom: 30px;
        padding: 10px 20px;
    }

    #user_header div{
        width: 100%;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 0px;
    }

    #set_page a{
        margin: 0px 20px;
    }

    textarea{
        height: 100%;
        flex: 1;
    }

    .diary_add{
        min-height: 250px;
        max-height: 400px;
        padding: 0px 20px;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .diary_btn{
        position: static;
    }

   .diary_post{
        right: 0px;
        left: 0px;
        width: 100%;
   }

   .diary_cancel{
    display: none;
   }

   .diary_item{
    padding: 20px;
   }
}
